<html>
 	<head>
		<title>Your To Do's - PLANDO</title>
		<script src="../javascripts/jquery.js"></script>
		<script src="../javascripts/functions.js"></script>
		<script src="../javascripts/prototypeFunctions.js"></script>
		<script src="../javascripts/todo.js"></script>
		<script src="../javascripts/todolist.js"></script>
		<script src="../javascripts/listeners.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/todos.css">
		<link rel="stylesheet" type="text/css" href="../css/todosPrint.css">
	</head>
	
	<body>
		
		<nav id="menu">
			<span id="logo">PLANDO</span>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../html/stats.html">Stats</a></li>
			</ul>
			
			<a id="newlist" href="#">+</a>
		</nav>
		
		<section id="content">
			<main id="todolists">
				<% for(var k = 0; k< todoLists.length; k++) {
					var list = todoLists[k];
					console.log(todoLists);
				%>
					<div class="listContainer">
						<section data-listid="<%= list.id %>" class="todolist">
							<h1 contenteditable="true"><%= list.name %></h1>
							<div class="sortButtons">
								<button data-sort="down" class="dateSort">Time</button>
								<button data-sort="down" class="prioritySort">!!!</button>
								<button data-sort="down" class="doneSort">✔</button>
							</div>
							<div class="listItemsContainer">
								<ul>
									<li class="newToDo todo">
										<form onsubmit="return false;">
											<input disabled="disabled" type="checkbox">
											<input placeholder="New to do" type="text" class="toDoMessage">
											<select class="prioritySelector">
												<option value="1">!</option>
												<option value="2">!!</option>
												<option value="3">!!!</option>
											</select>
											<button class="addButton">+</button>
											<br>
											<span class="duedate">
												<select class="day">
													<% for(var i = 1; i < 32; i++) { %>
														<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
													<% } %>
												</select>
												<select class="month">
													<% for(var i = 1; i < 13; i++) { %>
														<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
													<% } %>
												</select>
												<select class="year">
													<% for(var i = 2015; i < 2021; i++) { %>
														<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
													<% } %>
												</select>
												<select class="hours">
													<% for(var i = 0; i < 24; i++) { %>
													<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
													<% } %>
												</select>
												<select class="minutes">
													<% for(var i = 0; i < 60; i++) { %>
													<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
													<% } %>
												</select>
											</span>
										</form>
									</li>

									<% for(var j = 0; j < list.getTodos().length; j++) {
										var todo = list.getTodos()[j];
										var classes = " ";
										classes += (todo.isOverDue()?'overDue ':'');
										classes += (todo.isDue()?'due ':'');
										switch(todo.getPriority()) {
											case 1: classes += 'priority1 '; break;
											case 2: classes += 'priority2 '; break;
											case 3: classes += 'priority3 '; break;
										}
									%>
										<li data-todoid="<%= todo.id %>" class="todo <%= classes %>">
											<div>
												<div class="priorityIndicator"><div><div></div><div></div><div></div></div></div>
												<div class="content">
													<input type="checkbox" <%= todo.done?'checked':''%> />
													<span contenteditable="true" class="message"><%= todo.message %></span>
													<span class="buttons">
														<button class="delete">||</button>
														<span class="priority">
															<select>
																<%  var text = "";
																	for(var i = 1; i < 4; i++ ) {
																	text += "!" %>
																	<option value="<%= i %>" <%= (todo.getPriority() == i?'selected':'')%>><%= text %></option>
																<% } %>
															</select>
														</span>
													</span>
													<span class="duedate">
														<select class="day">
															<% for(var i = 1; i < 32; i++) { %>
															<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
															<% } %>
														</select>
														<select class="month">
															<% for(var i = 1; i < 13; i++) { %>
															<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
															<% } %>
														</select>
														<select class="year">
															<% for(var i = 2015; i < 2021; i++) { %>
															<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
															<% } %>
														</select>
														<select class="hours">
															<% for(var i = 0; i < 24; i++) { %>
															<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
															<% } %>
														</select>
														<select class="minutes">
															<% for(var i = 0; i < 60; i++) { %>
															<option value="<%= i %>"><%= (i<10?"0"+i:i) %> </option>
															<% } %>
														</select>
													</span>
												</div>
											</div>
										</li>


									<% } %>
								</ul>
							</div>
						</section>
					</div>
				<% } %>
			</main>
		</section>
	</body>
</html>
